<%- include('header',{title:title,message:message,loggedIn:true,creator}); %>
<main class="top-56">
    <h4 id='main-title' class='mx-3 mt-2'><%=title%></h4>

    <container id="account-data" class="list-group mx-3">
        <li class="list-group-item mb-2">
            <p><strong>Foto profilo: </strong></p>
            <img src="<%=user.url_img%>" alt="..." class="rounded-circle img-thumbnail img-fluid">
            <button class="btn button-color float-right mt-3" data-toggle="modal" data-target="#photo-modal">Modifica foto</button>
        </li>
    
        <li class="list-group-item mb-2">
            <p class="mb-0"><strong>Nome utente: </strong><%=username%></p>
        </li>

        <li class="list-group-item mb-3">
            <p class="mb-0"><strong>Tipo utente: </strong><span class="badge"><%=user.creator ? 'Creatore' : 'Ascoltatore'%></span></p>
        </li>
        
    </container>
    
</main>
  
  <div class="modal fade" id="photo-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <h4 class="d-flex justify-content-center">Modifica foto account</h4>
            <form class="mt-3" id="update-photo-form" enctype="multipart/form-data">
                <input type="file" name="update-photo" id='update-photo' class="form-control-file" accept="image/png,image/jpeg,image/jpg">
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
          <button type="submit" form="update-photo-form" class="btn btn-primary">Ok</button>
        </div>
      </div>
    </div>
  </div>

<%- include('footer'); %>