<%- include('header',{title:title,message:message,loggedIn,creator}); %>
<main class="top-56">
    <% if(series) {%>
    <h4 id='main-title' class='mx-3 mt-2'><%=series.title%></h4>

    <container class="list-group-item mx-3">
        <img src="<%=series.url_img%>" alt="..." class="rounded-circle img-thumbnail img-fluid">

        <container class="d-block">
            <p class="text-justify"><%=series.description%></p>
        </container>

        <container class="d-block">
            <p class="text-justify"><strong>Autore: </strong><%=series.author%></p>
        </container>

        <container class="d-block">
            <p class="text-justify"><strong>Categoria:</strong> <span class="badge"><%=series.category%></span></p>
        </container>
        <% if(loggedIn) { %>
            <% if(!series.created) {%>
            <container class="d-block">
                <% if(series.following) { %>
                    <button type="button" data-id=<%=series.title%> data-toggle="modal" data-target="#confirm-unfollow" class="btn btn-light container-fluid unfollow-buttons">Non seguire</button> 
                    <%} else { %>
                        <button type="button" data-id=<%=series.title%> class="btn button-color container-fluid follow-buttons">Seguire</button> <% } %>
            </container>
            <% }else{ %>
                <a type="button" href="/created/<%=series.title%>/edit" class="btn button-color container-fluid mb-2">Modifica serie</a> 
                <button type="button" data-id="<%=series.title%>" data-toggle="modal" data-target="#confirm-delete-modal" class="delete-buttons btn btn-light container-fluid unfollow-buttons">Cancella serie</button> 
            <% }} %>
    </container>
    
    <% if(episodes) { %>
        <h4  class="mx-3 mt-2">Episodi</h4>
        <ul class="list-group mx-3">
        <% for(let e of episodes){  %>
            <%- include('episode-partial',{episode:e,created:series.created,loggedIn}); %>
            <div class="collapse" id="comments-container-<%=e.id%>">
                    <%- include('comments',{comments:comments[e.id],episodeId: e.id,series:series.title,loggedIn}); %>
            </div>
            <%}; %>
        </ul>
                
    <% } %>

</main>

    <% } %>      
</ul>

<% if(episodes && loggedIn){  %>
    <% if(series.created){ %>
        <a  href="/episodes/<%=series.title%>/new" class="btn button-main-color position-fixed btn-lg button-home">
            Crea episodio
        </a>
    <%- include('confirm-modal',{title:"Eliminare l'episodio?",confirmButtonType:'confirm-delete-episodes-button',modalID:'confirm-delete-episode'}); %>
    
    <%- include('confirm-modal',{title:'Cancellare la serie?',confirmButtonType:'confirm-delete-series-button',modalID:'confirm-delete-modal'}); %>

    <% }else{ %>

    <%- include('confirm-modal',{title:'Rimuovere dai preferiti?',confirmButtonType:"confirm-delete-favorites-button",modalID:'confirm-delete-favorites'}); %>

<% }} %>

<% if(loggedIn) { %>
    <%- include('confirm-modal',{title:'Smettere di seguire?',confirmButtonType:'confirm-unfollow-button',modalID:'confirm-unfollow'}); %>
    
    <%- include('confirm-modal',{title:'Eliminare il commento?',confirmButtonType:'confirm-delete-comments-button',modalID:'confirm-delete-comments'}); %>
<% }else{ %>
    <%- include('login-button'); %>
<% } %>


<%- include('footer'); %>