<%- include('header',{title,message,color,loggedIn:false,creator:false}); %>

<main class="top-56">
    <h4 id='main-title' class='col-xs-12 col-md-4 mx-auto mt-2'><%=title%></h4>

    <form class="col-xs-12 col-md-4 mx-auto" <%= login ? "method=POST" : ''%> <%= login ? "action=/session" : ''%> id="<%= login ? '' : 'signup-form'%>">
        <div class="input-group">
            <input type="text" name="username" id="username" aria-describedby="user-feedback" class="form-control form-control-lg mb-2 container-fluid" required placeholder="Inserisci username">
            <% if(!login) { %>
                <div class="invalid-feedback mt-n1 mb-1">
                    Username esistente
                  </div>    
            <% }  %>
        </div>
        <div class="input-group">
            <input type="password" name="password" class="form-control form-control-lg mb-<%= login ? 3 : 2%> container-fluid" required placeholder="Inserisci password">
        </div>

        <% if(!login){ %>
        <div class="input-group">

            <input type="password" name="confirm-password" aria-describedby="password-feedback" class="form-control form-control-lg mb-3 container-fluid" required placeholder="Conferma password">
            <div class="invalid-feedback mt-n3">
                Password e conferma password devono essere uguali
            </div>
        </div>
             
            <input class="form-check-input-lg  ml-3" type="checkbox"  name="type_account" id="type_account">
            <label class="form-check-label-lg" for="type_account">
                Creatore
            </label>
            <% }%>
        <button type="submit" class="btn button-color container-fluid"><%= login ? 'Login' : 'Iscriviti'%></button>
        <hr>
        <a type="button" class="btn btn-light container-fluid" href="<%= login ? '/signup' : '/login'%>"><%= login ? 'Iscriviti' : 'Login'%></a>
    </form>

</main>

<%- include('footer') %>