<%- include('header',{message:message,loggedIn:true,creator}); %>
<main class="top-56">
    <h4 id='main-title' class='mx-3 mt-2'><%=title%></h4>

                    <form id="edit-episode-form" data-id="<%=episode ? episode.id : ''%>" class="col-12 mt-3" enctype="multipart/form-data" <%= add ? 'method=POST' : ''%> <%= add ? 'action=/episodes' : ''%>>
                    
                        <div class="form-group">
                            <input type="text" required name="title" value="<%= episode ? episode.title : ''%>" <%= episode ? 'disabled' : '' %> class="form-control form-control-lg" placeholder="Inserisci titolo">
                        </div>
    
                        <div class="form-group"> 
                            <textarea rows="3" required type="text"  name="description" class="form-control form-control-lg" placeholder="Inserisci descrizione"><%= episode ? episode.description : ''%></textarea>
                        </div>
    
                        <div class="form-group">
                            <input type="text" name="sponsor" value="<%= episode && episode.sponsor ? episode.sponsor : ''%>" class="form-control form-control-lg"  placeholder="Inserisci sponsor">
                        </div>

                        <div class="form-group">
                            <input type="number" name="price" value="<%= episode ? episode.price : ''%>" class="form-control form-control-lg" placeholder="Inserisci prezzo">
                        </div>

                        <div class="form-group">
                            <input type="text" name="series" value="<%=series%>" readonly class="form-control form-control-lg">
                        </div>

                        <div class="form-group">
                            <label for="insert-img">Audio</label>
                            <input type="file" name="audio" class="form-control-file" required <%= episode ? 'disabled' : '' %> accept="audio/mp3">
                        </div>

                        <button id="add-series-btn" type="submit" class="btn button-color container-fluid btn-lg mb-3"><%=title%></button>
    
                    </form>
</main>

<%- include('footer'); %>