<%- include('header',{message:message,title:'Pagamento',loggedIn:true,creator}); %>
  <main class="top-56"> 
    <h4 id='main-title' class='mx-3 mt-2'>Pagamento</h4>
    <p class="mx-3 mb-1"><strong>Importo: </strong><%=episode.price%>€</p>
    <p class="mx-3 mb-1"><strong>Episodio: </strong><%=episode.title%></p>
            <form id="purchase-form" class="mx-3" action="/episodes/purchased" method="POST">

                <input class="d-none" name="episodeId" value=<%=episode.id%>>

                <label for="credit-card-number" class="form-label mb-0">Numero della carta di credito</label>
                <input name="credit-card-number" required type="number" min="1000000000000000" max="9999999999999999" class="form-control" id="credit-card-number" placeholder="1111-2222-3333-4444">

                <label for="deadline" class="form-label mt-3 mb-0">Data di scadenza</label>
                <input type="month" required name="deadline" class="form-control" id="deadline-month" placeholder="">

                <label for="cvv" class="form-label mt-3 mb-0">CVV</label>
                <input type="number" required name="cvv" class="form-control" id="cvv" placeholder="">
            
                <button type="submit" value="Submit" form="purchase-form" class="btn button-color container-fluid mt-3">Compra</button>
            </form>
          </main>
          
<%- include('footer'); %>