<form id="research-form" class="mx-3" method="GET" action=<%= typeResearch==='series' ? '/' : '/episodes' %>>
    <div class="form-group">
        <input autofocus name="title" type="text" class="form-control form-control-lg" id="title" placeholder="Titolo">
    </div>

    <container id="advanced-research" class="collapse">
        <div class="form-group">
            <input name="description" type="text" class="form-control form-control-lg" id="description" placeholder="Descrizione">
        </div>

        <%if(categories){%>
        <div class="form-group">
            <select name="category" class="custom-select collapse show" id="category">
                    <option value="all">Seleziona categoria serie</option>
                    <% categories.forEach((category) => { %>
                        <option value="<%= category %>"> <%= category %></option>
                    <% }); %>
                </select>
        </div>
        <%}%>

        <div class="form-group">
            <select name="type-research" class="custom-select" id="type-research">
                    <option <%= typeResearch==='series' ? 'selected' : '' %> value="series">Serie</option>
                    <option <%= typeResearch==='episodes' ? 'selected' : '' %> data-toggle="collapse" data-target="category" value="episodes">Episodi</option>
                </select>
        </div>
    </container>
    <container class="d-flex justify-content-between">
        <button type="button" class="btn btn-light btn-lg" id="advanced-research-btn" data-toggle="collapse" data-target="#advanced-research">Ricerca avanzata</button>
        <button type="submit" class="btn button-color btn-lg">Cerca</button>
    </container>
    <hr>
</form>

